.root {
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color-1: rgb(8, 0, 10);
        --bg-color-2: rgb(49, 0, 61);
        --bg-color-3: rgb(52, 0, 65);
        --card-border-color: rgb(255, 220, 0);
        --card-background-color: rgba(210, 210, 210, 0.9);
        --card-text-color: rgb(255, 255, 255);
    }

    body {
        margin: 0px;
        background: var(--bg-color-1);
        background: linear-gradient(180deg, var(--bg-color-1) 0%, rgb(49, 0, 61) 50%, rgb(52, 0, 65) 100%);
        height: 100vh;
        display: grid;
        place-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-1: rgb(8, 0, 10);
        --bg-color-2: rgb(49, 0, 61);
        --bg-color-3: rgb(52, 0, 65);
        --card-border-color: rgb(255, 220, 0);
        --card-background-color: rgba(210, 210, 210, 0.9);
        --card-text-color: rgb(255, 255, 255);
    }

    body {
        margin: 0px;
        background: var(--bg-color-1);
        background: linear-gradient(180deg, var(--bg-color-1) 0%, rgb(49, 0, 61) 50%, rgb(52, 0, 65) 100%);
        height: 100vh;
        display: grid;
        place-items: center;
    }
}




@media only screen and (orientation: portrait) {

    .card-group {
        transition: transform 1200ms ease;
        position: relative;
        left: -455%;
        min-width: 1000%;
        min-height: auto;
        aspect-ratio: 3/7;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1vmin;
        padding: 15%;
    }

    .pokemon-card {
        position: relative;
        place-items: center;
        border-radius: 2vmin;
        border-style: solid;
        border-width: 1vmin;
        display: flex;
        flex-direction: column;
        box-shadow: 2vmin 2vmin 3vmin rgb(0, 0, 0);
        transition: 1s ease;

        border-color: var(--card-border-color);
        background-color: var(--card-background-color);
    }

    .pokemon-image {
        position: absolute;
        max-width: 80%;
        max-height: 60%;
        top: 5%;
    }
  
    .pokemon-name {
        position: absolute;
        bottom: 5%;
        font-size: 3.5vmin;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-text-stroke-width: 2px;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgb(var(card-text-color));
    }

    #button-group {
        position: relative;
        display: flex;
        flex-direction: row;
        left: 35%;
        right: 35%;
        justify-content: space-around;
        margin-top: 2vmin;
    }

    #button {
        position: relative;
        font-size: 5vmin;
        color: rgb(255, 255, 255);
        border: 0.4vmin solid rgb(200, 200, 200);
        border-radius: 100%;
        background-color: transparent;
        aspect-ratio: 1 / 1;
        border-color: rgb(255, 255, 255);
    }
}




@media only screen and (orientation: landscape)
{
    .card-group {
        transition: transform 1200ms ease;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    .pokemon-card {
        position: absolute;
        height: auto;
        width: 20%;
        aspect-ratio: 5 / 7;
        border-radius: 2vmin;
        border-style: solid;
        border-width: 1vmin;
        display: grid;
        place-items: center;
        box-shadow: 2vmin 2vmin 3vmin rgb(0, 0, 0);
        transition: 1s ease;

        border-color: var(--card-border-color);
        background-color: var(--card-background-color);
    }

    .pokemon-card:nth-child(1) {
        scale: 75%;
        transform: translateX(-210%);
        z-index: 1;
    }

    .pokemon-card:nth-child(1):hover {
        scale: 85%;
        transform: translateX(-210%);
        z-index: 9;
    }

    .pokemon-card:nth-child(2) {
        scale: 75%;
        transform: translateX(-150%);
        z-index: 2;
    }

    .pokemon-card:nth-child(2):hover {
        scale: 85%;
        transform: translateX(-157%);
        z-index: 9;
    }

    .pokemon-card:nth-child(3) {
        scale: 75%;
        transform: translateX(-90%);
        z-index: 3;
    }

    .pokemon-card:nth-child(3):hover {
        scale: 85%;
        transform: translateX(-104%);
        z-index: 9;
    }

    .pokemon-card:nth-child(4) {
        scale: 75%;
        transform: translateX(-30%);
        z-index: 4;
    }

    .pokemon-card:nth-child(4):hover {
        scale: 85%;
        transform: translateX(-51%);
        z-index: 9;
    }

    .pokemon-card:nth-child(5) {
        scale: 75%;
        transform: translateX(30%);
        z-index: 5;
    }

    .pokemon-card:nth-child(5):hover {
        scale: 85%;
        transform: translateX(2%);
        z-index: 9;
    }

    .pokemon-card:nth-child(6) {
        scale: 75%;
        transform: translateX(90%);
        z-index: 6;
    }

    .pokemon-card:nth-child(6):hover {
        scale: 85%;
        transform: translateX(55%);
        z-index: 9;
    }

    .pokemon-card:nth-child(7) {
        scale: 75%;
        transform: translateX(150%);
        z-index: 7;
    }

    .pokemon-card:nth-child(7):hover {
        scale: 85%;
        transform: translateX(108%);
        z-index: 9;
    }

    .pokemon-card:nth-child(8) {
        scale: 75%;
        transform: translateX(210%);
        z-index: 8;
    }

    .pokemon-card:nth-child(8):hover {
        scale: 85%;
        transform: translateX(161%);
        z-index: 9;
    }

    .pokemon-image {
        position: absolute;
        align-items: center;
        max-width: 90%;
        max-height: 65%;
        top: 5%;
    }

    .pokemon-name {
        position: absolute;
        align-items: center;
        bottom: 5%;
        font-size: 3vmin;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        -webkit-text-stroke-width: 3px;
        text-transform: uppercase;
        text-shadow: 4px 4px 4px var(--card-text-color);
    }

    #button-group {
        position: absolute;
        bottom: 5%;
        display: flex;
        flex-direction: row;
        left: 40%;
        right: 40%;
        justify-content: space-around;
        padding: 0vmin 4vmin;
    }

    #button-group > button {
        font-size: 5vmin;
        color: rgb(255, 255, 255);
        border: 0.4vmin solid rgb(200, 200, 200);
        border-radius: 100%;
        background-color: transparent;
        height: 6vmin;
        width: 6vmin;
        cursor: pointer;
    }

    #button {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        transition: 500ms ease;
    }

    #button:hover {
        animation: button_blink .5s alternate infinite ease-in-out;
    }
}






#pokeball {
    position: relative;
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px rgb(175, 175, 175);
}

#pokeball::before, #pokeball::after {
    content:"";
    position: absolute;
}

#pokeball::before {
    background: rgb(255, 0, 0);
    width: 100%;
    height: 50%;
}

#pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: rgb(0, 0, 0);
}

#pokeball_button {
    position: absolute;
    top: calc(50% - 37.5px);
    left: calc(50% - 37.5px);
    width: 50px;
    height: 50px;
    background: rgb(130, 130, 130);
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px rgb(0, 0, 0);
}

/* Animations triggers */

.fade-in {
    animation: fade-in 1s;
    animation-delay: 0s;
}

.fade-out {
    animation: fade-out 1s;
}

.ball {
    animation: fade-in 500ms, fall 250ms ease-in-out, shake 1000ms cubic-bezier(0.36, 0.07, 0.19, 0.97) 2, fade-out 2000ms;
    animation-delay: 0ms , 0ms, 0ms, 2000ms;
    animation-fill-mode: forwards;
}

.aux {
    animation: blink 500ms alternate 7;
    animation-fill-mode: forwards;
}

/*Animations keyframes*/

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes blink {
    from { background: rgb(255, 255, 255);}
    to { background: rgb(255, 100, 100); }
}

@keyframes button_blink {
    from {
        color: rgb(255, 0, 0);
        border-color: rgb(255, 0, 0);
    }
    to {
        color: rgb(150, 0, 0);
        border-color: rgb(150, 0, 0);
    }
}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
}

@keyframes fall {
    0% { top: -500px }
    60% { top: 0 }
    80% { top: -50px }
    100% { top: 0 }
}